.card {
  position: absolute;

  width: 430px;
  height: 270px;
}

.card__front, .card__back {
  position: absolute;

  border-radius: 20px;

  height: 100%;
  width: 100%;

  transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
}

.card__front {
  z-index: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 25px;
  
  background: center url('./images/cyber-girl.jpeg');
  background-size: cover;
  
  transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
}

.card__front__top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  height: 50px;
  width: 100%;
}

.card__front__top-row__chip {
  width: 60px;
  height: 50px;
  
  border-radius: 6px;
  
  background: center url('./images/chip.png');
  background-size: cover;
}
.card__front__top-row__type {
  height: 42px;
  width: 80px;

  background: center url('./images/visa.png');
  background-size: cover;
}

.card__front__number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  font-size: 30px;
  font-family: "Source Code Pro", monospace;
  word-spacing: 23px;
  font-stretch: semi-expanded;
  
  color: white;
}

.card__front__number__group__item {
  display: inline-block;
  width: 19px;
}


.card__front__bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__front__bottom-row__card-holder__label,
.card__front__bottom-row__expires-date__label {
  font-size: 14px;
  color: #ccc;
}
.card__front__bottom-row__card-holder__value,
.card__front__bottom-row__expires-date__value {
  font-family: "Source Code Pro", monospace;

  font-size: 18px;
  color: white;
}

.expires-date-item {
  display: inline-block;
}


.card__back {
  z-index: 0;

  display: flex;
  flex-direction: column;
  
  background: center url('./images/cyber-girl.jpeg');
  background-size: cover;

  transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
}

.card__back__black-line {
  background: rgb(0,0,0,0.8);
  height: 50px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.card__back__cvv {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.card__back__cvv label {
  margin-left: auto;
  margin-right: 5px;
  color: white;
}
.card__back__cvv__field {
  display: flex;
  justify-content: flex-end;
  height: 45px;
  padding: 13px 10px;
  border-radius: 5px;
  background: white;
}

.card__back__card-type {
  height: 42px;
  width: 80px;

  margin-left: auto;
  margin-right: 15px;
  margin-top: 30px;

  background: center url('./images/visa.png');
  background-size: cover;
}



.card.turned .card__front {
  transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
  transform-style: preserve-3d;
  z-index: 0;
}

.card.turned .card__back {
  transform: perspective(2000px) rotateY(-360deg) rotateX(0deg) rotate(0deg);
  transform-style: preserve-3d;
  z-index: 1;
}
