.card-form {
  position: absolute;
  bottom: 0;

  border-radius: 10px;

  width: 580px;
  height: 510px;

  background: white;
}

.card-form__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 180px;
  padding: 0 30px;

  height: 290px;
  width: 100%;
}

.card-form__inner__input-field {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.card-form__inner__input-field label {
  color: rgb(17, 17, 17);
}


.card-form__inner__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-form__inner__row__column {
  display: flex;
  flex-direction: column;
}

.card-form__input {
  height: 55px;
  padding-left: 10px;

  border-radius: 5px;
  border: solid 1px #ccc;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;

  background: white;
  color: #1a3b5d;
}
.card-form__input:hover,
.card-form__input:focus {
  border-color: #3d9cff;
  transition: all 0.3s ease-in-out;
}

.card-form__inner__row__column .card-form__input {
  width: 155px;
}

#expiration-month {
  margin-right: 18px;
}